<div class="container">
    <div class="row m-2">
        <div class="card m-2" style="width: 18rem;">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="mt-2 rounded" alt="Sunset Over the Sea"/>
            <a href="/detail" class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </a>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="mt-2 rounded" alt="Sunset Over the Sea"/>
            <a href="/detail" class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </a>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="mt-2 rounded" alt="Sunset Over the Sea"/>
            <a href="/detail" class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </a>
        </div>
    </div>
</div>