<div class="p-2">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Sadar Sampah</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- <div class="navbar-nav"></div> -->
                <div class="navbar-nav ms-auto">
                    <a href="/" class="nav-item nav-link active">Beranda</a>
                    <a href="/peta" class="nav-item nav-link">Peta</a>
                    <a href="/perpustakaan" class="nav-item nav-link">Perpustakaan</a>
                    <a href="/tentang-kami" class="nav-item nav-link">Tentang Kami</a>
                </div>
            </div>
        </div>
    </nav>
</div>