<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sadar Sampah</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .leaflet-container {
        height: 300px;
        width: 100%;
        max-width: 90%;
        max-height: 100%; 
        margin: 20px auto 20px auto;
    }
    .maps{
        margin-left: 5%;
        margin-top: 2%;
    }
</style>    
</head>
<body>
    <header>
        <%- include('../common/header')%>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
                </div>
                
                <div class="col-md-6">
                    <h2>Snail mail</h2>
                    <address>
                        <strong>Hythe Window Cleaning</strong><br>
                        15 Springfield Way<br>
                        Hythe<br>
                        Kent<br>
                        United Kingdon<br>
                        CT21 5SH<br>
                        <abbr title="Phone">P:</abbr> 01234 567 890
                    </address>
                </div>
            </div>
        </div>
        <div class="maps">
            <h2>Peta Bank Sampah</h2>
            <div id="map"></div>
        </div>

    </main>
    
    <footer>
        <%- include('../common/footer') %> 
    </footer>


    <script>
        async function getData(){
        const resp = await fetch("http://localhost:3000/api/accounts");
        const data = await resp.json();
            
        locations.push(data.data)
            
        for (var i = 0; i < 100; i++) {
            marker = new L.marker([locations[0][i].latitude, locations[0][i].longitude])
                    .bindPopup(locations[0][i])
                    .addTo(map);
                }      
        }

        var locations = [];
        console.log(locations)
        getData();
        
        
        var map = L.map('map').setView([-2.548926, 118.0148634], 4);
        mapLink =
        '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);
        
    </script>
</body>
</html>