*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    position: relative;
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
    width: 90%;
    
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
.btn{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #98e187;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 48px;
}
i{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-4%);
    font-size: 23px;
    color: #98e187;
}
.bx{
    position: absolute;
    top: 50%;
    left: 335px;
    transform: translateY(20%);
    font-size: 23px;
    color: #98e187;
}
input {
    
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: 0px;
    outline: 0px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
}
